# Thông tin kết nối Kafka (Thay localhost bằng IP mạng LAN của Máy 1 và Máy 2 nếu chạy khác máy)
KAFKA_BROKER=localhost:9092
KAFKA_BROKERS=localhost:9092,localhost:9093

# Thông tin kết nối MongoDB Replica Set (Thay localhost bằng IP mạng LAN của Máy 3 và Máy 4)
MONGO_URI=mongodb://localhost:27017,localhost:27018,localhost:27019/?replicaSet=rs0

# Consumer Group cho Processing Nodes
CONSUMER_GROUP_ID=video-analytics-group